
body{
  margin: 0;
}

#william-select {
  pointer-events: none;
  user-select: none;
}

.smooth{
  transition: ease-in-out .5s !important;
}

.center-text{
  text-align: center !important;
}

.w-100{
  width:100% !important;
}

#startscreen{
  display:flex;
  justify-content: center;
}

.mh100{
  max-height: 100vh !important;
}

.hidden-flow{
  overflow: hidden;
}

.instructions:hover{
  cursor: pointer;
}

#health {
  height:20px;
  width: 100%;
}

.healthbar{
  border: 1px solid black;
  height:20px;
  width:60%;
  margin-left:20px;
  border-radius:5px;
  overflow: hidden;
  padding:0px;
}